@import './normalize.css';
@import './loader.css';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
	background-color: #111;
	color: #fff;
	font-family: 'Comfortaa';
	box-sizing: border-box;
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
}

#ascii {
	display: inline-block;
	padding: 0;
	margin: 0;
	white-space: pre-wrap;
	font-family: 'Comforta', monospace;
	letter-spacing: 0px;
	text-size-adjust: none;
}

#image-input-button {
	padding: 10px;
	color: black;
	background-color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#image-input-button:hover {
	background-color: #ccc;
}

#image-input-text {
	margin-left: 10px;
	color: #aaa;
}

.header {
	font-size: 4rem;
}

.subheader {
	margin-top: 0;
	font-size: 1.5rem;
}

.content {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.top {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.image-input-container {
	padding-bottom: 20px;
}

.image-container {
	margin: 5px 10px;
}
